@model Domain.Models.Student

<form method="post" action="/Students/Edit" class="container mt-4" enctype="multipart/form-data">
    <div class="row">
        <!-- Column 1: Image -->
        <div class="col-md-4">
            <div class="mb-3">
                <label for="ProfileImage" class="form-label">Profile Image</label>
                <img src="@Model.ImagePath" alt="Profile Image" class="img-fluid" id="ProfileImage" />

                <input type="file" name="file" class="form-control"/>
            </div>
        </div>

        <!-- Column 2: Form Controls -->
        <div class="col-md-8">
            <div class="mb-3">
                <label for="IdCard" class="form-label">Id Card</label>
                <input type="text" name="IdCard" id="IdCard" class="form-control" value="@Model.IdCard" readonly />
            </div>

            <div class="mb-3">
                <label for="Name" class="form-label">First Name</label>
                <input type="text" name="Name" id="Name" class="form-control" value="@Model.Name" />
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <label for="LastName" class="form-label">Last Name</label>
                <input type="text" name="LastName" id="LastName" class="form-control" value="@Model.LastName" />
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <label for="GroupFK" class="form-label">Group</label>
                <input type="text" name="GroupFK" id="GroupFK" class="form-control" value="@Model.GroupFK" />
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </div>
</form>
