@model IEnumerable<Domain.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach (var student in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" height="150" src="@student.ImagePath" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@student.Name&nbsp;@student.LastName</h5>
                    <p class="card-text">IdCard: @student.IdCard<br>
                        Programme: @student.Group.Programme<br>
                        Group: @student.Group.Code
                    </p>
                    <a href="/Students/Edit?id=@student.IdCard" class="btn btn-primary">Update Details</a>
                    <a href="/Students/Delete?id=@student.IdCard" class="btn btn-primary" onclick="return confirm('Are you sure?')"  >Delete</a>
                </div>
            </div>
        </div>
    }
</div>






