@model Presentation.Models.AttendanceViewModel

<div class="container mt-3">
    <div class="row">
        <div class="col-6">
            <label class="fw-bold">Group:</label>
            <span>@Model.Group</span>
        </div>
        <div class="col-6">
            <label class="fw-bold">Subject:</label>
            <span>@Model.Subject.Name</span>
        </div>
    </div>
    <hr class="mt-3" />
</div>

<hr />

<!-- Attendance Form -->
<form action="/Attendance/Create" method="post">

    @*string subjectCode, string groupCode,bool update=false*@
    <input type="hidden" name="subjectCode" value="@Model.Subject.Code" />
    <input type="hidden" name="groupCode" value="@Model.Group" />


    
        @try{
        
                if (ViewBag.update == true)
                    {
                       <input type="hidden" name="update"   value="true" />
                    }
                    else
                    {
                       <input type="hidden" name="update" value="false" />
                    }
        }
        catch
        {
            <input type="hidden" name="update" value="false" />
        }
  

    <!-- Attendance Table -->
    <div class="table-responsive mb-3">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Full Name</th>
                    <th class="text-center">Absent/Present</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Students.Count; i++)
                {
                    var s = Model.Students[i];
                    <!-- Table Row -->
                    <tr>
                        <!-- Hidden Fields -->

                        <input type="hidden" name="attendances[@i].Id" value="@Model.Presences[i].Id" />
                        <input type="hidden" name="attendances[@i].StudentFK" value="@s.IdCard" />
                        <input type="hidden" name="attendances[@i].SubjectFK" value="@Model.Subject.Code" />
                     
                      
                        <td>@s.Name &nbsp; @s.LastName</td>
                        <td class="text-center">
                            <div class="form-check">

                                @if (Model.Presences.Count > 0)
                                {
                                    if (Model.Presences[i].Present == true)
                                    {
                                        <input type="checkbox"
                                   name="attendances[@i].IsPresent"
                                   value="true"
                                   class="form-check-input"
                                   checked />
                                    }
                                    else
                                    {
                                        <input type="checkbox"
                                   name="attendances[@i].IsPresent"
                                   value="true"
                                   class="form-check-input" />
                                    }
                                }
                                else
                                {
                                    <input type="checkbox"
                                   name="attendances[@i].IsPresent"
                                   value="true"
                                   class="form-check-input"
                                   checked />
                                }


                                <label class="form-check-label">Present</label>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Submit Button -->
    <div class="text-end">
        <button type="submit" class="btn btn-primary">Submit Attendance</button>
    </div>
</form>
